<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blogs</title>
</head>
<body>
<fieldset>
    <legend><a href="/create-blog">Create new Blog</a></legend>
    <h1>Blogs</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="blog:${blogs}">
            <tr>
                <td th:text="${blog.name}"></td>
                <td th:text="${blog.content}"></td>
                <td><a th:href="@{/edit-blog/__${blog.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>